@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Syne&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "ProtoMono-Regular";
  src: url("/fonts/ProtoMono-Regular.woff") format("truetype");
  font-weight: 400;
}
body {
  @apply bg-[#181818] !overflow-x-hidden !max-w-[100vw];
}

@layer utilities {
  .wrapper {
    @apply flex justify-center -z-10 max-w-full;
  }

  .contain {
    @apply w-[90%] max-w-[1300px];
  }
}
.splide__pagination__page {
  @apply !rounded-full !border-[1px] !text-white !border-solid border-[white] w-[110px] sm:w-[130px] md:w-[150px] lg:w-[180px] !h-auto !aspect-square font-ProtoMono text-[14px] md:text-[16px] lg:text-lg uppercase;
}
.is-active {
  @apply !border-[#FF5101] !text-[#FF5101] !bg-transparent !transform-none;
}
.splide__pagination {
  @apply flex gap-[0.75rem] sm:gap-[2.25rem] static;
}
.splide__pagination > li:nth-child(1) .splide__pagination__page::before {
  content: "Search";
}
.splide__pagination > li:nth-child(2) .splide__pagination__page::before {
  content: "Register";
}
.splide__pagination > li:nth-child(3) .splide__pagination__page::before {
  content: "Manage";
}
.text-outline-orange {
  -webkit-text-stroke: 1px #ff5101;
}

.cards-full > *:nth-child(2) {
  @apply lg:mt-[30px];
}
